{{ define "main" }}
<div class="content-list">
  <div class="content-item">
    <section>
      Last Update:
      {{ with .Pages.ByDate.Reverse }}
          {{ $dateMachine := (index . 0).Date.Format "2006-01-02T15:04:05-07:00" }}
          {{ $dateHuman := (index . 0).Date.Format "January 2, 2006" }}
          <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
      {{ end }}
    </section>
  </div>
  <div class="content-item">
    <h1>Posts</h1>
  </div>
  <div class="content-item">
    <section>
      <article>
        {{ .Content }}
      </article>
      {{ range .Pages }}
        {{ partial "blog/blog_item.html" . }}
      {{ end }}
    </section>
  </div>
</div>
{{ end }}