{{ define "main" }}
<div class="content-list">
    <div class="content-item">
        <section>
        Last Update: {{ partial "date.html" . }}
        </section>
    </div>
    <div class="content-item">
        <article>
            {{ .Content }}
        </article>
        <aside>
            {{ with .GetTerms "tags" }}
            <div>{{ (index . 0).Parent.LinkTitle }}</div>
            <ul>
                {{ range . }}
                <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
                {{ end }}
            </ul>
            {{ end }}
        </aside>
    </div>
</div>
{{ end }}