{{ define "main" }}
<table class="content_table">
    <tbody>
        <tr>
            <td class="width-auto">
                <section>
                Last Update: {{ partial "date.html" . }}
                </section>
            </td>
        <tr>
        <td class="width-auto">
                    <article>
                        {{ .Content }}
                    </article>
                    <aside>
                        {{ with .GetTerms "tags" }}
                        <div>{{ (index . 0).Parent.LinkTitle }}</div>
                        <ul>
                            {{ range . }}
                            <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
                            {{ end }}
                        </ul>
                        {{ end }}
                    </aside>
                </section>
            </td>
        </tr>
    </tbody>
</table>

{{ end }}