{{ define "main" }}
<table class="content_table">
  <tbody>
    <tr>
      <td class="width-auto">
        <section>
          Last Update:
          {{ with .Pages.ByDate.Reverse }}
              {{ $dateMachine := (index . 0).Date.Format "2006-01-02T15:04:05-07:00" }}
              {{ $dateHuman := (index . 0).Date.Format "January 2, 2006" }}
              <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
          {{ end }}
        </section>
      </td>
    </tr>
    <tr>
      <td class="width-auto">
        <h1>Work Experience</h1>
      </td>
    </tr>
    <tr>
      <td class="width-auto">
        <section>
          <article>
            {{ .Content }}
          </article>
          {{ range .Pages.ByDate.Reverse }}
            {{ if eq .Params.Type "work_experience" }}
              {{ partial "cv/cv_item.html" . }}
            {{ end }}
          {{ end }}
        </section>
      </td>
    </tr>
    <tr>
      <td class="width-auto">
        <h1>Projects</h1>
      </td>
    </tr>
    <tr>
      <td class="width-auto">
        <section>
          {{ range .Pages.ByDate.Reverse }}
            {{ if eq .Params.Type "project" }}
              {{ partial "cv/cv_item.html" . }}
            {{ end }}
          {{ end }}
        </section>
      </td>
    </tr>
    <tr>
      <td class="width-auto">
        <h1>Education</h1>
      </td>
    </tr>
    <tr>
      <td class="width-auto">
        <section>
          {{ range .Pages.ByDate.Reverse }}
            {{ if eq .Params.Type "education" }}
              {{ partial "cv/cv_item.html" . }}
            {{ end }}
          {{ end }}
        </section>
      </td>
    </tr>
    <tr>
      <td class="width-auto">
        <h1>Certificates</h1>
      </td>
    </tr>
    <tr>
      <td class="width-auto">
        <section>
          {{ range .Pages.ByDate.Reverse }}
            {{ if eq .Params.Type "certificate" }}
              {{ partial "cv/certificate_item.html" . }}
            {{ end }}
          {{ end }}
        </section>
      </td>
    </tr>
  </tbody>
</table>
{{ end }}