#photo_circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}

.contact_box {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.center_flex {
    width: 100%;
    justify-content: center;
    display: flex;
    margin-bottom: 15px;
}