{{ define "main" }}
<table class="header" id="index-content">
    <tbody>
        <tr>
            <td colspan="2" rowspan="2" class="width-auto">
                <h1 class="title">{{ .Site.Params.name }}</h1>
                <span class="subtitle">{{ .Site.Params.occupation }}</span>
            </td>
            <th>NICKNAMES</th>
            <td class="width-min">PHOTO</td>
        </tr>
        <tr>
            <th>
                <ul>
                    <li>Winus</li>
                    <li>WING_WONG</li>
                    <li>Kraiwinus</li>
                </ul>
            </th>
            <td class="width-min">
                <img alt="img" src="winus.svg" id="cartoon_img" style="display: inline; width: 400px;">
                <img alt="img" src="pasfoto.jpg" id="colored_img" style="display: none; width: 400px;">
            </td>
        </tr>
    </tbody>
</table>
<script src="js/script.js"></script>
{{ end }}