{{ define "main" }}
<div class="layout-grid profile-grid" id="index-content">
    <div class="area-info">
        <h1 class="title">{{ .Site.Params.name }}</h1>
        <span class="subtitle">{{ .Site.Params.occupation }}</span>
    </div>
    <div class="area-nick" style="font-weight: 700;">NICKNAMES</div>
    <div class="area-photo-label">PHOTO</div>
    
    <div class="area-list" style="font-weight: 700;">
        <ul>
            <a href="/cv"><li>Winus</li></a>
            <a href="/cv"><li>WING_WONG</li></a>
            <a href="/cv"><li>Kraiwinus</li></a>
        </ul>
    </div>
    <div class="area-photo-img">
        <img alt="img" src="winus.svg" id="cartoon_img" class="avatar" style="display: inline;">
        <img alt="img" src="pasfoto.jpg" id="colored_img" class="avatar" style="display: none;">
    </div>
</div>
<script src="js/index.js"></script>
{{ end }}
